{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Welcome</h1>
    <form action="">
        <input 
            type="text"
            name="username"
            placeholder="username"
            class="input-field"
        >
        <input 
            type="text"
            name="password"
            placeholder="password"
            class="input-field"
        >
        <button class="btn waves-effect waves-light" type="submit" name="action">Login
            <i class="fa-solid fa-user"></i>
        </button>
        <a class="waves-effect waves-light btn">Register
            <i class="fa-solid fa-user-plus"></i>
        </a>
    </form>
</div>

{% endblock %}